  /*-----全局样式-------*/
@import "mix_default.styl"
html
  height auto !important
  min-height 100% !important
a
  text-decoration none

p
  rm_default()

ul
  rm_default()

li
  list-style  none
  rm_default()

/*--------front----------*/
.front
  max-width 100%
  height  auto

/*--------footer---------*/
.footer.segment
  padding 30px 20px
