  /*-----全局样式-------*/
@import "mix_default.styl"

  /*-----stylus----*/
body
  width 100%
  height  auto
  min-width  100%
  min-height  100%
  rm_default()
  font  12px "Lucida Grande", Helvetica, Arial, sans-serif

a
  text-decoration none

p
  rm_default()

ul
  rm_default()

li
  list-style  none
  rm_default()

.content
  clear both
  width 80%
  height auto
  min-height  100%
  overflow hidden
  position  relative
  top 80px
  left 10%
  padding 10px

  /*--------front----------*/
.front
  max-width 100%
  height  auto

/**   Content tips    **/
#tips
  display none
  height 40px
  left 0
  top 0
  right 0
  bottom 0
  position absolute
#tips>p
  width 80%
  height 20px
  text-align center
  font-size 14px
  midver_abs()
