@import "mix_default.styl"
  /*-----写博客样式表-------*/
  .create-article,.create-form
    width 95%
    height  auto
    auto_mid()
    margin-top  20px
  .create-form>form>input
    width 80px
    color white
    height  30px
    border-radius(3px)
    green-button()
