@import "mix_default.styl"
  /*-----写博客样式表-------*/
  .create
    position relative
    padding-top 20px
    padding-bottom 20px
  .create-article,.create-form
    width 95%
    height  auto
    auto_mid()
    margin-top  20px
  .create-form>form>input
    width 80px
    color white
    height  30px
    border-radius(3px)
    green-button()

  /**   Content tips    **/
  #tips
    display none
    height 40px
    left 0
    top 0
    right 0
    bottom 0
    position absolute
  #tips>p
    width 80%
    height 40px
    text-align center
    font-size 14px
    midver_abs()
