@import "mix_default.styl"
  /*------编辑文章页面--------*/
.edit
  position relative
  padding-top 20px
  padding-bottom 20px
.article-edit
  width 90%
  height  auto
  min-height  100%
  margin-top  15px
  auto_mid()
.editor-front
  width 40px
  height  40px
  float left
  margin-top  5px

.editor-front>img
  max-width 100%
  height  auto

.editor
  width 200px
  margin-left 45px
  font-size 18px
  line-height 40px
.editor>a
  article-word_color()

.edit-form
  clear both
  width 100%
  height  500px
.edit-form>form>input
  width 70px
  height  30px
  color white
  border-radius(2px)
  green-button()
