/*------混合函数方法----*/
rm_default()
  margin  0
  padding 0

auto_mid()
  margin-left auto
  margin-right  auto

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

count_hei_wid(count,n)
  count/n

midver_abs()
  position absolute
  left  0
  top 0
  right 0
  bottom  0
  margin  auto

/* 圆角兼容 */
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius  n
  border-radius n

/* 按钮样式 */
green-button()
  border  0
  background  rgba(0,154,97,1)

/* 字体颜色 */
article-word_color()
  color rgba(85,85,85,1)
