@import "mix_default.styl"
  /*------导航栏-------*/
.nav
  width 100%
  height  350px
  top 0
  left 0
  background  white

.nav_ctn
  width auto
  height 60px

.hidden.menu
  display none

.secondary.pointing.menu .toc.item
  display none

.nav_Menuitem
  width 100px
  height 60px
  font-size 15px
  float left
  line-height 55px

.nav_Menuitem>a
  auto_mid()
  letter-spacing 4px
  color rgba(255, 255, 255, 0.7)
.nav_Menuitem>a:hover
  color #FFFFFF !important

.nav_User
  width 200px
  height 60px
  float right
  padding 10px

.floowing_Mobile
  display none

@media only screen and (max-width:700px)
  .ul.fixed.menu
    display none !important
  .floowing_pc
    display none !important
  .floowing_Mobile
    display block
  .secondary.pointing.menu .item,.secondary.pointing.menu .menu
    display none
  .secondary.pointing.menu .toc.item
    display block
  .masthead.segment
    min-height 350px
