@import "mix_default.styl"
  /*------导航栏-------*/
.nav
  height  80px
  position  fixed
  top 0
  right 0
  left 0
  background  white
  z-index 9999

#nav_Menu
  width auto
  max-width 400px
  height  80px
  position relative
  margin-left 100px
  margin-top 0

.nav_Menuitem
  width 80px
  height  80px
  font-size 14px
  float left
  text-align  center
  line-height 81px
.nav_Menuitem>a
  article-word_color()
  /*------导航栏下滑件--------*/
#nav_SlideBar
  width 80px
  height  5px
  background  rgba(85,85,85,1)
  position  absolute
  margin-top  75px
  margin-left 0


  /*-------nav下拉菜单--------*/
.nav-setting
  position  fixed
  right 30px
  top 10px
