  /*-----博文首页-------*/
@import "mix_default.styl"
  /*-----post-content/comments-----*/

.content-left
  width 65%
  height  100%
  min-height  100%

.article-item
  width 90%
  height  230px
  margin-top  10px
  border-bottom 1px solid  rgba(85,85,85,0.3)

.writer-front
  width 20px
  height  20px
  float left
  margin-top  5px

.writer-front>img
  max-width 100%
  height  auto

.writer
  width 200px
  margin-left 25px
  font-size 15px

/*-----文本样式------*/
.article-living
  width 90%
  height  auto
  min-height  100%

.living-content
  width 100%
  height  auto
  margin-top 10px

.article-content
  width 100%
  height  170px
  margin-top  10px

.article-title
  height  30px
  font-size 24px

.article-content>pre
  height  110px
  text-indent  2em
  overflow hidden

.article-about
  height  20px
  padding-left  5px
.tag,.right>span
  margin-left 5px

.writer-edit
  width 100px
  height  20px
  float right
.writer-edit>button
  width 45px
  height  20px
  margin-left 5px
  border-radius(2px)
  green-button()

/*----文本字体颜色-----*/

.writer>a,.article-title>a,.comment-user>a,.comment-user>span
  article-word_color()
.writer-edit>button>a
  color white
  font-size 12px

  /*----留言样式表------*/
.comments
  width 100%
  height  auto

.comments-list
  width 100%
  hight auto
  padding 20px 10px 20px 10px

.comment
  width 80%
  height  auto
  min-height  150px
  margin-top  10px
  border-bottom 1px solid rgba(85,85,85,0.3)

.comment-user
  width 300px
  margin-left 25px
  font-size 14px

.comment-date>p
  display inline
.comment-date>a
  margin-left 5px


.comment-content
  width 100%
  height  auto
  min-height  80px
  margin-top  15px
  text-indent 2em

.comment-form
  width 60%
  height  auto
  margin-left 10px

.comment-field
  width 100%
  border 1px solid  rgba(85,85,85,1)
  border-radius(5px)

.comment-form>form>input
  width 80px
  height  30px
  color white
  margin-top 10px
  green-button()
  border-radius(3px)
