  /*------导入公用方法---------*/
@import "mix_default.styl"
  /*------注册页面--------*/
.sign_form
  width 300px
  height 220px
  border 1px solid rgba(34,34,34,0.4)
  border-radius(5px)
  margin-top 100px
  margin-bottom 300px
  auto_mid()

.sign_button
  width 100%
  height  35px
  green-button()
  border-radius(2px)

@media only screen and (max-width:700px)
  .sign_form
    width 80%
    margin-left 10%
    margin-right 10%  
