  /*-------注册页面-------*/
  @import "mix_default.styl"

  .signup_form
    width 700px
    height  600px
    margin-top 50px
    auto_mid()

  .signup_button
    width 100%
    height  35px
    border 0
    green-button()
    border-radius(2px)
