div.ui.inverted.vertical.footer.segment
  div.ui.container
    div.ui.stackable.inverted.divided.equal.height.stackable.grid
      div.three.wide.column
        h4.ui.inverted.header About
        div.ui.inverted.link.list
          a.item(href='') 链接
          a.item(href='') 链接
          a.item(href='') 链接
      div.three.wide.column
        h4.ui.inverted.header Service
        div.ui.inverted.link.list
          a.item(href='') 链接
          a.item(href='') 链接
          a.item(href='') 链接
      div.seven.wide.column
        h4.ui.inverted.header Footer Header
        p 页脚描述
