div.nav.ui.inverted.vertical.masthead.center.aligned.segment
  div.ui.container.nav_ctn
    ul.ui.large.secondary.inverted.pointing.menu.nav_ctn
      li.toc.item
        i.sidebar.icon
      li.nav_Menuitem.active.item
        a(href='/posts') 首页
      li.nav_Menuitem.item
        a(href='/') 首页
      li.nav_Menuitem.item
        a(href='/') 首页
      li.nav_Menuitem.item
        a(href='/') 首页
      if user
        li.ui.right.floated.dropdown.item #{user.name}
          i.dropdown
          div.menu
            a.item(href='/user?author=#{user._id}') 个人主页
            a.item(href='/user/newArticle') 写文章
            a.item(href='/user/collections?author=#{user._id}') 我的收藏集
            a.item(href='/signout') 登出
      else
        div.right.item
          a.ui.inverted.button#sign 登录
          a.ui.inverted.button(href='/signup') 注册
  div.ui.text.container
    h1.ui.inverted.header My Blog
    h2 Welcome,Everyone!
