div.nav
  ul#nav_Menu
    div#nav_SlideBar
    li.nav_Menuitem
      a(href='/posts') 首页
    li.nav_Menuitem
      a(href='/') 首页
    li.nav_Menuitem
      a(href='/') 首页
    li.nav_Menuitem
      a(href='/') 首页
  div.nav-setting
    div.ui.buttons
      div.ui.dropdown.floating.button
        i.icon.bars
        div.menu
          if user
            a.item(href='/user?author=#{user._id}') 个人主页
            div.divider
            a.item(href='/user/newArticle') 写文章
            a.item(href='/user/collections?author=#{user._id}') 我的收藏集
            a.item(href='/signout') 登出
          else
            a.item(href='/signin') 登录
            a.item(href='/signup') 注册
