/*-----全局样式-------*/
html {
  height: auto !important;
  min-height: 100% !important;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*--------front----------*/
.front {
  max-width: 100%;
  height: auto;
}
/*--------footer---------*/
.footer.segment {
  padding: 30px 20px;
}
