/*------导航栏-------*/
.nav {
  width: 100%;
  height: 80px;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
}
.hidden.menu {
  display: none;
}
.secondary.pointing.menu .toc.item {
  display: none;
}
.nav_Menuitem {
  width: 100px;
  height: 80px;
  font-size: 14px;
  float: left;
  line-height: 50px;
}
.nav_Menuitem>a {
  margin-left: auto;
  margin-right: auto;
  color: #555;
/*------导航栏下滑件--------*/
}
#nav_SlideBar {
  width: 100px;
  height: 5px;
  background: #555;
  position: absolute;
  margin-top: 60px;
  margin-left: 0;
/*-------nav下拉菜单--------*/
}
.nav-setting {
  position: fixed;
  right: 30px;
  top: 10px;
}
@media only screen and (max-width: 700px) {
  .ul.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
}
