/*------导航栏-------*/
.nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 300px;
  background: #fff;
  z-index: 9999;
}
#nav_Menu {
  width: auto;
  max-width: 400px;
  height: 50px;
  left: 0;
  top: 0;
}
.nav_Menuitem {
  width: 80px;
  height: 50px;
  font-size: 14px;
  float: left;
  text-align: center;
  line-height: 51px;
}
.nav_Menuitem>a {
  color: #555;
/*------导航栏下滑件--------*/
}
#nav_SlideBar {
  width: 70px;
  height: 5px;
  background: #555;
  position: absolute;
  margin-top: 45px;
  margin-left: 5px;
/*-------nav下拉菜单--------*/
}
.nav-setting {
  position: fixed;
  right: 30px;
  top: 10px;
}
