/*-----博文首页-------*/
/*-----post-content/comments-----*/
.main {
  padding-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
  overflow: hidden;
}
.content-left {
  float: left;
  width: 60%;
  height: auto;
  min-height: 100%;
}
.content-right {
  width: 40%;
  height: 500px;
  float: right;
  min-height: 100%;
  display: block;
}
.writer {
  width: 100%;
  font-size: 14px;
}
.writer-front {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 5px;
}
.writer-front>img {
  max-width: 100%;
  height: auto;
}
.writer>a {
  margin-left: 5px;
}
.tag {
  font-size: 12px;
  margin-left: 20px;
}
.article-item {
  width: 80%;
  position: relative;
  left: 10%;
  right: 10%;
}
.article {
  padding-top: 50px;
}
/*-----文本样式------*/
.post-header {
  font-size: 20px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.article-header {
  color: #555 !important;
}
.descriptions>ul {
  font-size: 13px;
  text-indent: 20px;
  letter-spacing: 1px;
}
/*----文本字体颜色-----*/
.writer>a,
.article-title>a,
.comment-user>a,
.comment-user>span {
  color: #555;
}
/*-- response style --*/
@media only screen and (max-width: 700px) {
  .content-right {
    display: none;
  }
  .content-left {
    width: 100%;
  }
  .self-content {
    width: 100%;
    top: 5px;
    left: 5px;
    right: 5px;
  }
  .post-header {
    font-size: 14px;
  }
}
